<h1>@ViewBag.title</h1>

<form method="post">

    @foreach(var cheese in ViewBag.cheeses)
    {
        <!--the form will return all the cheeseIds of the checked items--> 
        <input type="checkbox" name="cheeseIds" id="@cheese.CheeseId" value="@cheese.CheeseId" />
        <label for="@cheese.CheeseId">@cheese.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Cheese(s)" />
</form>